#time {
    padding-top: 5%;
    text-align: center;
    font-family: monospace;
    color: #efefef;
    font-size: 5em;
}

#canvas {
    position: absolute;
    top: 0%;
}

.background {
    background: -webkit-linear-gradient(top,  #82a017 0%,#51c2ff 100%);
    /*background-color: #101010;*/
    position: absolute;
    top: 1px; /* Header Height */
    bottom: 1px; /* Footer Height */
    width: 100%;
    min-height: calc(100vh);
}

.cube {
    position: absolute;
    left: 50%;
    top: 65%;               
    transform: translate(-50%, -60%);
    width: 40%;

}